/* Tipografia Droid Sans Mono para las consolas javascript */
@font-face
  {
    font-family: "Droid Sans Mono";
    src: url("DroidSansMono.ttf") format("truetype");
  }
div.consola-javascript
  {
    font-family: "Droid Sans Mono", "Courier New", Courier,
      "Lucida Console", Monaco, monospace;
    /* Controlar tamaño de consola con el tamaño de la tipografia */
    font-size: 9pt;
    /* 23em de ancho para un tamaño de 40 caracteres por linea */
    width: 23em;
    min-width: 23em;
    /* 13.25em de alto para un tamaño de 8 lineas */
    height: 13.25em;
    min-height: 13.25em;
    background: #000;
    background: rgba(0,0,0,0.75);
    margin: 0px;
    padding: 0px;
    padding-bottom: 1em;
    border: solid rgba(0,0,0,0.0) 0.5em;
    color: #fff;
    overflow: hidden;
    border-radius: 16px;
    resize: both;
    outline: #000 solid 0px;
  }
div.consola-javascript *
  {
    font-family: "Droid Sans Mono", "Courier New", Courier,
      "Lucida Console", Monaco, monospace;
    /* Controlar tamaño de consola con el tamaño de la tipografia */
    font-size: 9pt;
    resize: none;
    background: #000;
    background: rgba(0,0,0,0.0);
    color: #fff;
    margin: 0px;
    padding: 0px;
    border: solid black 0px;
    outline: #000 solid 0px;
    width: 100%;
    height: 50%;
  }
div.consola-javascript div
  {
    height: 75%;
    border-bottom: solid gray 1px;
    overflow: auto;
  }
div.consola-javascript div::selection
  {background: rgba(128,128,128,0.5);}/* webkit, opera, IE9 */
div.consola-javascript div::-moz-selection
  {background: rgba(128,128,128,0.5);}/* mozilla firefox */
div.consola-javascript textarea
  {
    height: 25%;
  }
